
:root {
  /* Primary */

  --clr-primary: hsl(220, 98%, 61%);

   /* Light Theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --clr-bg: hsl(235, 21%, 11%);
  --clr-tasks-bg: hsl(235, 24%, 19%);
  --clr-text-primary: hsl(234, 39%, 85%);
  --clr-text-primary-hover: hsl(236, 33%, 92%);
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-3-1: hsl(233, 14%, 35%);
  --clr-3-2: hsl(237, 14%, 26%);

  --font-family: 'Josefin Sans', sans-serif;
  /* 
  Available font widths: 
  - 400
  - 700
  */

  --page-bg: url("images/bg-mobile-dark.jpg") no-repeat,
  var(--clr-bg);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-family);
  background: var(--page-bg);
  background-size: contain;
  padding: 1.5rem;
}



.sun {
  width: 30px;
  height: 30px;
  background: url("images/icon-sun.svg") right no-repeat;
}



.app-container > form {
  padding: 15px 20px;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

header > h1 {
  font-size: 25px;
  letter-spacing: 10px;
}

header > button {
  background: transparent;
  color: white;
  border: 0;
}

.app-container > form {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.add-task-input {
  background: transparent;
  font-family: var(--font-family);
  color: var(--clr-text-primary);
  border: 0;
  flex: 1;
  margin: 0 5px;
  padding: 5px;
}

.app-container > form,
.app-container > .tasks,
.app-container > footer {
  border-radius: 5px;
  background: var(--clr-tasks-bg);
}

.tasks {
  padding-top: 0;
  margin: 20px 0;
}

.controls ul{
  list-style: none;
}

.task {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--clr-3-2);
}

.task .title {
  font-size: 1rem;
  flex: 1;
  color: var(--clr-text-primary);
  margin: 0 10px;
  cursor: grab;
  transition: color 200ms;
}

.task .title:hover {
  color: var(--clr-text-primary-hover);
}

.checkmark {
  border: 1px solid var(--clr-3-1);
  width: 22px;
  height: 22px;
  border-radius: 100px;
  display: inline-block;
  background: transparent;
}
.checkmark:hover {
  /* TODO checkmark hover border*/
  color: k;
}


.done .checkmark {
  background: url("images/icon-check.svg") no-repeat center, 
  linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: 0;
}

.done .title {
  text-decoration: line-through;
  color: var(--clr-text-secondary);
}

.done .title:hover {
  color: var(--clr-text-secondary);
}

.remove-task {
  display: inline-block;
  background: transparent;
  border: 0;
}

.cross {
  width: 19px;
  height: 19px;
  background: url("images/icon-cross.svg") no-repeat;
}

.controls {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--clr-text-secondary);
  font-size: 0.9rem;
  position: relative;
}

.controls a {
  color: var(--clr-text-secondary);
  text-decoration: none;
}

.controls ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .controls ul {
    position: absolute;
    width: 100%;
    top: 75px;
    left: 0;
    padding: 15px 20px;
    background: var(--clr-tasks-bg);
    border-radius: 5px;
  }

  body > p {
    position: relative;
    top: 75px;
  }

  .attribution {
    position: relative;
    top: 80px;
    margin-bottom: 10px;
  }
}

.controls li:first-child button {
  color: var(--clr-primary);
}

.controls button {
  color: var(--clr-text-secondary);
  border: 0;
  background-color: transparent;
  font-family: var(--font-family);
  transition: color 200ms;
}

.controls button:hover {
  color: var(--clr-text-primary-hover);
}

.controls ul button {
  font-weight: bold;
}

.controls li + li {
  margin-left: 15px;
}

body > p {
  margin: 20px 0;
  color: var(--clr-text-secondary);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-3-1);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

button {
  cursor: pointer;
}